.navbar{
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

html{
  scroll-behavior: smooth;
  font-family: 'Mandali', sans-serif;
  text-align: center;
}

.css-img{
  width: 55px;
  height: 53px;
}

p{
  font-size: large;
}

.about-sec{
  display: flex;
  align-items: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: row;
  text-align: left;
  /* float: left; */
  /* text-align: left; */
}

.left{
  /* width: 50%;
  float: left; */
  margin-right: 300px;
}

.right{
  margin-top: 50px;
  margin-right: 100px;
} 

.self-img{
  border-radius: 50%;
}

.cert-sec{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  text-align: right;
}

.cert-pdf{
  /* margin-left: 1000px; */
  display: flex;
  float: left;
  flex-direction: row;
  margin: 0 50px;
}

.cert-text{
  /* display: flex; */
  /* justify-content: flex-end;
  text-align: right; */
  /* margin-left: 200px; */
}

.skills-sec{
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  flex-direction: row;
  text-align: left;
}

.skills-txt{
  /* margin-right: 1000px; */

}

.skills-img{
  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  margin-right: 100px;
  /* float: left; */
  align-items: center;
  margin-top: 150px;
}

.pro-sec{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.pro-card{
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
}

h1{
  margin-top: 100px;
}

@media only screen and (max-width: 900px) {
  .about-p{
    margin: auto;
  }

  .cert-p{
    margin: auto;
  }

  .skills-p{
    margin: auto;
  }

  .pro-p{
    margin: auto;
  }
}